http://grafana.home.lan {
    reverse_proxy http://grafana:3000
}

http://cadvisor.home.lan {
    basic_auth /* {
        {$ADMIN_USER} {$ADMIN_PASSWORD_HASH}
    }    
    reverse_proxy http://cadvisor:8080
}

http://prometheus.home.lan {
    basic_auth /* {
        {$ADMIN_USER} {$ADMIN_PASSWORD_HASH}
    }
    reverse_proxy http://prometheus:9090
}

http://alertmanager.home.lan {
    basic_auth /* {
        {$ADMIN_USER} {$ADMIN_PASSWORD_HASH}
    }
    reverse_proxy http://alertmanager:9093
}

http://nodeexporter.leviathan.home.lan {
    basic_auth /* {
        {$ADMIN_USER} {$ADMIN_PASSWORD_HASH}
    }
    reverse_proxy http://nodeexporter:9100
}

http://vmetrics.home.lan {
    basic_auth /* {
        {$ADMIN_USER} {$ADMIN_PASSWORD_HASH}
    }
    reverse_proxy http://victoriametrics:8428
}

http://transmission.home.lan {
    reverse_proxy http://transmission:9091
}
