http://grafana.home.lan {
    reverse_proxy http://localhost:3000
}

http://cadvisor.home.lan {
    basicauth /* {
        {$ADMIN_USER} {$ADMIN_PASSWORD_HASH}
    }    
    reverse_proxy http://localhost:8080
}

http://prometheus.home.lan {
    basicauth /* {
        {$ADMIN_USER} {$ADMIN_PASSWORD_HASH}
    }
    reverse_proxy http://prometheus:9090
}

http://alertmanager.home.lan {
    basicauth /* {
        {$ADMIN_USER} {$ADMIN_PASSWORD_HASH}
    }
    reverse_proxy http://localhost:9093
}

http://nodeexporter.home.lan {
    basicauth /* {
        {$ADMIN_USER} {$ADMIN_PASSWORD_HASH}
    }
    reverse_proxy http://localhost:9100
}
